#table {
  border-collapse: collapse;
  width: auto;
}

#table td, #table th {
  border: 2px double #013a65;
  padding: 6px;
}

#table th {
  padding-top: 7px;
  padding-bottom: 2px;
  text-align: center;
  color: black;
}

h3, h4 {
  font-weight: 800;
  color: #525252;
}