<table id="table">
  <tr>
    <th>ID</th>
    <th>LINK</th>
  </tr>
  <tr *ngFor="let repo of githubService.repos">
    <td>{{ repo.id }}</td>
    <td>{{ repo.full_name }}</td>
  </tr>
</table>
<br />

<h4>BitCoin$</h4>
<h5>Timer {{ this.tempbitService.getSeconds() }}s</h5>

<table id="table">
  <tr>
    <th>Data/Hora</th>
    <th>USD</th>
    <th>BRL</th>
  </tr>
  <tr *ngFor="let price of this.bitcoinService.updateList">
    <td>{{ price.timestamp | date: 'full' }}</td>
    <td>{{ price.USD | currency }}</td>
    <td>{{ price.BRL | currency }}</td>
  </tr>
</table>

<style type="text/css">
  #table {
  border-collapse: collapse;
  width: auto;
}

#table td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: black;
}
h4 {
  font-weight: 800;
}
  </style>