<table border="2">
  <tr>
    <th>ID</th>
    <th>LINK</th>
  </tr>
  <tr *ngFor="let repo of githubService.repos">
    <td>{{ repo.id }}</td>
    <td>{{ repo.full_name }}</td>
  </tr>
</table>
<br />

<h5>BitCoin $ &nbsp; <button (click)="update()">Atualizar</button></h5>

<table border="2">
  <tr>
    <th>Data & Hora</th>
    <th>USD</th>
    <th>BRL</th>
  </tr>
  <tr *ngFor="let rate of this.bitcoinService.list">
    <td>{{ rate.time.updated }}</td>
    <td>{{ rate.bpi.USD.rate_float }}</td>
    <td>{{ rate.bpi.BRL.rate_float }}</td>
  </tr>
</table>
