/* Add application styles & imports to this file! */
* {
  font-family: 'Times New Roman';
}

#table {
  border-collapse: collapse;
  width: auto;
}

#table td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: black;
}
h1, h2, h3, h4, h5 {
  font-weight: 800;
}